<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body class="bodyAuth">
    <div>
        @RenderBody()
    </div>
</body>
</html>


